{% load static %}
<!DOCTYPE html>
<html lang="es" ng-app="inventarioApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maestranza-Proveedores</title>
    <link rel="stylesheet" href="{% static 'css/addproduct.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body ng-controller="inventarioController">
    <header>
        <nav id="cssmenu">
            <ul>
                <li>
                    <a href="#">Inventario <i class="fas fa-chevron-down"></i></a>
                    <ul>
                        <li><a href="{% url 'Vendedor' %}">Ver inventario actual</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1>Agregar Proveedor</h1>
        <form method="post" action="{% url 'agregarprove' %}" enctype="multipart/form-data">
            {% csrf_token %}

            <div>
                <label for="nombre_prov">Nombre del Proveedor:</label>
                <input type="text" id="nombre_prov" name="nombre" maxlength="30" required>
            </div>
            <div>
                <label for="direccionP">Dirección Proveedor:</label>
                <input type="text" id="direccionP" name="direccion" maxlength="70" required>
            </div>
            <div>
                <label for="correoP">Correo Proveedor:</label>
                <input type="text" id="correoP" name="correo" required>
            </div>
            <div>
                <label for="celP">Contacto Proveedor:</label>
                <input type="number" id="celP" name="cel" required>
            </div>

            <button type="submit">Agregar Proveedor</button>
        </form>
    </div>
    <br><br>
</body>

</html>